body, div, td {
	font-family: Arial, Verdana,Geneva,sans-serif;
	font-size: 14pt;
	margin: 0;
	text-align: left;
	line-height: 1.5;
}
a {
	color: rgb(240, 240, 240);
}
a:hover {
	color:#d86d1e;
}

*,
*before,
*after {
	box-sizing: border-box;
}

/* -----------------Резюме------------------- */
.Resume {
	display: grid;
	grid-template-areas: "pos1 pos2"  
						 "pos3 pos2" ; 
	grid-template-columns: 40% 60%;
	grid-template-rows: max-content 600px;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.Photo {
	width:100%;
	height:100%;
	z-index: 1;
	object-fit: cover;
}

.ResumePhoto {
	margin-left: 0;
    margin-right: 0;
	grid-area: pos1;
}

.AboutMe {
	background-color:rgb(240, 240, 240);
	grid-area: pos2;
	color: #4a30da;
	padding: 5% 15% ;

}
.AboutMe>a {
	color: rgb(74,48,218);
	font-size: 30px;
    font-family: Arial Black;

}
.AboutMe>a:hover {
	color:#d86d1e;
}
.name {
	font-size: 42px;
	font-family: Arial Black;
	line-height: 1.1;
}
.name::after {
	background-color:rgb(74,48,218);
	margin: 18px 0 36px;
	display: block;
	content: "";
	height: 4px;
	width: auto;
}
.heading {
	font-size: 30px;
	font-family: Arial Black;
}
.lheading {
	font-size: 13pt;
	font-family: Arial Black;
}

.Education {
	display: grid;
    grid-template-areas:
        "ps1 ps2";
    grid-template-rows: max-content;
}


.contact {
	background-color:rgb(74,48,218);
	grid-area: pos3;
	padding: 5% 15% ;
	color: rgb(240, 240, 240);
}

/* -----------------Слайд шоу------------------- */


.slider {
	display: grid;
	grid-template-areas: "pos6 pos0 pos9"  
						 "pos2 pos3 pos4"
						 "pos7 pos1 pos8" ; 
	grid-template-columns: 64px auto 64px;
	grid-template-rows: 60px 600px 64px;
	color: rgb(240, 240, 240);
	background-color:rgb(74,48,218);
}
.title_slider {
	grid-area: pos0;
	display: flex;
	justify-content: flex-start;
	align-items:center;
	font-family: Arial Black;
	font-size: 30px;

}

.text_slider {
	grid-area: pos1;
	justify-content: flex-start;
	align-items: center;
	font-size: 24px;
}
.image_slider {
	grid-area: pos3;
	justify-content: center;
	align-items:center;
}
.image_slider img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.image_slider video {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.previous, .next {
    cursor: pointer;
    width: 32px;
	color: rgb(240, 240, 240);
    font-weight: bold;
    font-size: 30px;
	padding: 16px;
    transition: 0.6s ease;
	display: flex;
	justify-content: center;
	align-items:center;
}
.slider .next {
	grid-area: pos4;
}
.slider .previous {
	grid-area: pos2;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* Анимация слайдов */
.slider .image_slider {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}


/* -----------------Таблица------------------- */


table{
	border-spacing: 0px;
}
td {
	border: 1px solid rgb(0, 0, 0);
	padding: 6px;
 }


/* -----------------Форма обратной связи------------------- */

.feedback {
	display: flex;
	justify-content: center;
	background-color:rgb(240, 240, 240);

}
.obratnuj-zvonok{
	width: 100%;
	max-width: 450px;
}
.form-zvonok{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	box-sizing: border-box;
}
.form-zvonok div{
	padding: 15px 0;
}
.bot-send-mail{
	box-sizing: border-box;
	width: 100%;
}
.form-zvonok label,.form-zvonok input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-zvonok label{
	margin-bottom: 5px;
	font-weight: bold;
}
.form-zvonok input{
	padding: 10px 15px;
	margin-top: 10px;
}
.form-zvonok label span{
	color: red;
}

.messagebox {
	height: auto;
}
.form-zvonok .bot-send-mail{
	padding: 15px;
	background: none;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	background-color:rgb(74,48,218);
	cursor: pointer;
	border: 3px rgb(74,48,218) solid;
}
.form-zvonok .bot-send-mail:hover{
	color: rgb(74,48,218);
	background-color: #fff;
}

/* -----------------footer------------------- */

.footer {
	display: flex;
	background-color:rgb(74,48,218);
	color: #fff;
	justify-content: space-between;
	padding: 15px 20px ;
}
.footer>div {
	font-size: 12pt;
}


@media screen and (max-device-width: 764.98px){
	.body {
		padding: 0px ;
	}
	/* -----------------Резюме------------------- */
.Resume {
	display: grid;
	grid-template-areas: "pos1"  
						 "pos2"
						 "pos3" ; 
	grid-template-columns: auto;
	grid-template-rows: auto;
}
.AboutMe {
	padding: 5% 6% ;
}
.contact {
	padding: 5% 6% ;
}

.Education {
	grid-gap: 10px;

}
.slider {
	display: grid;
	grid-template-areas: "pos0 pos0 pos0"  
						 "pos2 pos3 pos4"
						 "pos1 pos1 pos1" ; 
	grid-template-columns: 64px auto 64px;
	grid-template-rows: 60px auto max-content;
	color: rgb(240, 240, 240);

}
.title_slider {
	padding-left: 30px;

}

.text_slider {
	padding: 16px;

}

.PhoneScroll {
	display: block;
}
.ResumePhoto {
	height: 8ы0vh;
}
.PhotoGradient{
	display: block;
}

}

@media screen and (min-device-width: 767.98px){
	.body {
		padding: 0 calc(50vw - 450px);
	}
}

@media screen and (min-device-width: 991.98px) {
	.body {
		padding: 0 calc(50vw - 490px);
	}
}
@media screen and  (min-device-width: 1199.98px){
	.body {
		padding: 0 calc(50vw - 590px);
	}

}
